body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* COLOR NAV BAR TOP */
.navBar-Master{
  background-color: rgb(58 ,95, 95);
}



/* Only contrl the back screen */
.homeContainerMiddleBody{

  text-align: center;
  position: relative;
}
/* size of the text */
.h2themedics{
  font-size: 65px;
}
.footerHomeBody{
  margin-bottom: 1px;
  background-color: aquamarine;
  justify-content: flex-end;
  /*  */
}


/* class="img-fluid  */